@import "material/app";
@import "material/variables";

.mb-surface-panel {
    @include elevate($elevate-1dp);
    background-color: #fff;
    border:1px solid transparent;
    border-radius: 3px;
    margin-bottom: 1%;
}